@model IEnumerable<emp_system.Models.patient>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-evenly p-3">

        <h1 class="">Patient_Archive</h1>
          <form class="d-flex" method="post" asp-action="index">
                <input name="sstring" class="form form-control" type="search" placeholder="search name" aria-label="search" />
                <span> </span>
                <button class="btn btn-danger" type="submit"> Search</button>
          </form>
</div>
<br />
<p class="pb-2">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th> ID  </th>
            <th>  P_Name  </th>
            <th>  Address   </th>
            <th>  Age </th>
            <th>  Phone </th>
            <th>  EX_Date </th>
            <th>  diagnosis  </th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>     @item.Id </td>
            <td>     @item.Name</td>
            <td>     @item.address</td>
            <td>     @item.age</td>
            <td>     @item.phone</td>
            <td>     @item.ex_date</td>
            <td>     @item.diagnosis</td>
            <td>
                    <a asp-action="edite" asp-controller="patient" asp-route-id="@item.Id" class="btn btn-primary">Edite</a>
                    <a asp-action="delete" asp-controller="patient" asp-route-id="@item.Id" class="btn btn-success"
                       onclick="return confirm('هل أنت متأكد أنك تريد حذف هذا العنصر؟')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
